<div class="container">
    <h5>Task1</h5>
    <input type = "text" class="form-control" [(ngModel)]="inpLen">
    <p *ngIf="showLen">{{inpLen.length}}</p>
    <button class="btn btn-primary" (click)="showInputLength()" [disabled]="disablebtn">Length btn</button><br><br>

    <button class="btn btn-success" (click)="enableLengthBtn()">Enable Length Btn</button>
    <hr>
    <h5>Task 2 </h5>
    <input type = "text" class="form-control" placeholder="Name" [(ngModel)]="inpName"><br>
    <input type = "text" class="form-control" placeholder="Age" [(ngModel)]="inpAge">

    <div *ngIf="showBtn">
      <button class="btn btn-primary"  (click)="displayObj(); hideUnhideDisplayBtn()">Display btn </button>
    </div>
    <p [ngStyle] = "{'font-weight':'bold'}" >{{result}}</p>
    <button class="btn btn-success" (click)="hideUnhideDisplayBtn()">Unhide Btn </button>
    <hr>

    <h5>Task 3 </h5>
    <input type = "text" class="form-control" placeholder="Name" [(ngModel)]="inp2Name"><br>
    <input type = "text" class="form-control" placeholder="Age" [(ngModel)]="inp2Age">
    <button class="btn btn-primary" (click)="displayArray()">Display Btn </button>
    <p [ngStyle] = "{'font-weight':'bold'}" >{{result2}}</p>
    <hr>
    <h5>Task 4 </h5>
    <input type = "number" class="form-control" placeholder="Enter Number" [(ngModel)]="oddEvenInp"><br>
    <p>
        <!--<p *ngIf="oddEvenInp%2==1" [ngStyle]="{color:'red'}">{{oddEvenInp}}</p>-->
        <span *ngIf="oddEvenInp%2==1"  [ngStyle]="{color:'red'}">{{oddEvenInp}}</span>
        <span *ngIf="oddEvenInp%2==0" [ngStyle]="{color:'green'}">{{oddEvenInp}}</span>
         
    </p>
    <hr>

    <h5>Task 5 </h5>
    <p>
      custom directive example with <span app-exeDirective>Highlighted text</span>.
    </p>
</div>
